<!DOCTYPE html>
<html>
  <head>
    <title>Forex Trading Simulator</title>
  </head>
  <body>
    <h1>Forex Trading Simulator</h1>
    <form action="/" method="post">
      <label for="Kapital">Capital:</label>
      <input type="text" id="Kapital" name="Kapital">
      <br><br>
      <label for="Hebel">Leverage:</label>
      <input type="text" id="Hebel" name="Hebel">
      <br><br>
      <label for="Trades">Number of Trades:</label>
      <input type="text" id="Trades" name="Trades">
      <br><br>
      <label for="Winrate">Win Rate:</label>
      <input type="text" id="Winrate" name="Winrate">
      <br><br>
      <label for="Tp">Take Profit:</label>
      <input type="text" id="Tp" name="Tp">
      <br><br>
      <label for="Sl">Stop Loss:</label>
      <input type="text" id="Sl" name="Sl">
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
